<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link href="https://fonts.googlefonts.cn/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
    <title>干旱评估及决策系统</title>
</head>
<body>
<div style="width: 100vw; height: 100vh; overflow: hidden; position: absolute; z-index: 99;">
    <div class="nav">
        <ul class="list">
            <h2>干旱评估及决策系统</h2>
            <li class="l1"><a href="home.html">干旱</a></li>
            <li class="l1"><a href="decision.html" style="font-size: 1.5em;"><b>防范决策</b></a></li>
            <li class="l2"><a href="login.html">登录</a></li>
        </ul>
    </div>
    <div style="display: flex; height: 93vh; width: 100vw;">
        <iframe src="../static/pdf/pre.pdf" style="width: 100vw; height: 100vh"></iframe>
    </div>
</div>
</body>
</html>